<!DOCTYPE html>
<html lang="en">

<head>
    <title><%- `${mmrData.name}#${mmrData.tag}` %></title>
    <%- include('../../partials/style') %>
</head>

<body>
    <header>
        <%- include('../../partials/header'); %>
    </header>
    <main>
        <div class=player-card>
            <div class="info-card">
                <br>
                <br>
                <h1><%- mmrData.name %>#<%- mmrData.tag %></h1>
                <br>
                <h3><%- mmrData.data[0].currenttierpatched %> - <%- mmrData.data[0].ranking_in_tier %>RR</h3>
                <br>
                <br>
                <div class="games-card">
                    <% for(let i = 4; i >= 0; i--) { %>
                    <div class="games-tile">
                        <div class="center">
                            <% if (mmrData.data.length > i) {%>
                            <p class="elo-change"><%- mmrData.data[i].mmr_change_to_last_game%></p>
                            <% } else { %>
                            <p class="elo-change">0</p>
                            <% } %>
                        </div>
                    </div>
                    <% } %>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="elo-progress-bar">
                    <div class="elo-progress"></div>
                </div>
            </div>
            <div class="picture-card"></div>
        </div>
        <script>
            // Picure Card Background Image
            let pictureCard = document.getElementsByClassName("picture-card")[0];
            pictureCard.style.backgroundImage = `url("<%- userData.data.card.large%>")`;
            // Game Win/Loss Tile Background Color
            let eloChanges = document.getElementsByClassName("elo-change");
            let gameTiles = document.getElementsByClassName("games-tile");
            for (let i = 0; i < eloChanges.length; i++) {
                let eloChange = parseInt(eloChanges[i].innerHTML);
                if (eloChange > 0) {
                    gameTiles[i].style.backgroundColor = "#3ba867";
                } else if (eloChange < 0) {
                    gameTiles[i].style.backgroundColor = "#de5b5b";
                }
            }
            // Elo Progress Bar Progress
            let eloProgress = document.getElementsByClassName("elo-progress")[0];
            eloProgress.style.width = `<%- mmrData.data[0].ranking_in_tier %>%`;
        </script>
    </main>
</body>

</html>