<!DOCTYPE html>
<html lang="en">

<head>
    <title>CSV Output</title>
</head>

<body>
    <h1><%- mmrData.name %>#<%- mmrData.tag %></h1>
    <p style="margin: 0px;">timeraw,date,change,total elo,rank</p>
    <% for (let i = mmrData.data.length - 1; i >= 0; i--) {%>
    <p style="margin: 0px;"><%- mmrData.data[i].date_raw %>,"<%- mmrData.data[i].date %>",<%- mmrData.data[i].mmr_change_to_last_game %>,<%- mmrData.data[i].elo %>,"<%- mmrData.data[i].currenttierpatched%>"</p>
    <% } %>
</body>

</html>